<h2> Albums </h2>

<ul>
    <% @bands.each do |band| %>
    <li>
        <%= band.name %>
        <ul>
            <% band.albums.each do |album| %>
            <li> 
                <%= link_to "#{album.title}", album_path(album.id) %>
                <% end %>
            </li>
        </ul>
    </li>
    <% end %>
</ul>