<h1>Edit <%= @band.name %></h1>

<form action="<%= band_url(@band) %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <%= auth_token %>

    <label for="new_name">Enter a new band name</label>
    <input type="text" name="band[name]" id="new_name" value="<%= @band.name %>">


    <input type="submit">
</form>